.portfolios.container
    .portfolios__inner
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/bg@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/molotok-1@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/nakavalnia@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/smoke@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Molotok
                    span.portfolio-card__subtitle Promo site for MTBank
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/bg-2@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/plate@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title ReBOX
                    span.portfolio-card__subtitle Service for order delivery products
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/bg-kg@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/gradient@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/krasnogorka-logo@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/man-without-pike@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/pike@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Krasnogorka
                    span.portfolio-card__subtitle Web-site for rent houses
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/bg-br@2x.png"))
                    img.portfolio-card__img(src=require("./../../images/bg-effect@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/logo-brutto@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/gurkov@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Brutto watch
                    span.portfolio-card__subtitle Promo site of watches
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/sky@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/homes@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/girl@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Achosa
                    span.portfolio-card__subtitle Women's clothing catalog
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/dishes@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/plate-logo@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title 6 tastes
                    span.portfolio-card__subtitle Free food delivery web-catalog
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/group-2@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/logo@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title ProSushi
                    span.portfolio-card__subtitle Сacheback service
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block

                .portfolio-card__footer
                    span.portfolio-card__title TM site
                    span.portfolio-card__subtitle Web-site for tourist services
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/bg-mob@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/logo-mobile@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Mobiles.by
                    span.portfolio-card__subtitle Brandbook for logistic company
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/bg-sp@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/spivakov@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Spivakov
                    span.portfolio-card__subtitle Promo site of festival
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/path-4@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/dreamstime-47398552@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title SecretDiscounter
                    span.portfolio-card__subtitle Сacheback service
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/mountain@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/forest@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/group@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Port Europa
                    span.portfolio-card__subtitle Brandbook for logistic company
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/bg-vi@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/watches@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/roman@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Vieršnik 1588
                    span.portfolio-card__subtitle Promo site of watches
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/tractor-back@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/logo-agroinfo@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/tractor@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Agroinfo
                    span.portfolio-card__subtitle Web-site for tourist services
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/nasty-cat-back@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/nasty-cat-moroz@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/nasty-cat-logo@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/nasty-cat-cat@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/nasty-cat-snow@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title NastyCat - App
                    span.portfolio-card__subtitle Brandbook for logistic company
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/bg-or@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/line@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title OrthoLine - App
                    span.portfolio-card__subtitle Promo site of watches
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/6-t-back-2@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/6-t-2@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title 6 tastes - App
                    span.portfolio-card__subtitle Web-site for tourist services
        .portfolios__item
            a.portfolio-card(href="#")
                .portfolio-card__parallax-block
                    img.portfolio-card__img(src=require("./../../images/bg-agr@3x.png"))
                    img.portfolio-card__img(src=require("./../../images/logo-agr@3x.png"))
                .portfolio-card__footer
                    span.portfolio-card__title Agroinfo Catalog
                    span.portfolio-card__subtitle Brandbook for logistic company
    .portfolios__more
        a.portfolios__show-more-button(href="#") show more