+header_description('what','we do','black')
.services
    .services__inner-wrap
        a.services__item.services__item_first(href="#")
            h1.services__title.services__title_notebook web services
            img.services__img.services__img_notebook(src=require("./../images/notebook.png"), alt="notebook")
        .services__item_wrapper
            a.services__item.services__item_size.services__item_color_light-grey(href="#")
                h1.services__title.services__title_mobile mobile apps
                img.services__img.services__img_mobile(src=require("./../images/mobile.png"), alt="mobile")
            a.services__item.services__item_size.services__item_color_light-yellow(href="#")
                h1.services__title.services__title_ux UX / UI design
                img.services__img.services__img_ux(src=require("./../images/rubik.png"), alt="rubik")
            a.services__item.services__item_size.services__item_color_light-blue(href="#")
                h1.services__title.services__title_brand brand guidelines
                img.services__img.services__img_brand(src=require("./../images/group.png"), alt="brand")
            a.services__item.services__item_size.services__item_wrapper-last.services__item_color_light-green(href="#")
                h1.services__title.services__title_paper pre-print design
                img.services__img.services__img_paper(src=require("./../images/paper.png"), alt="paper")