mixin portfolio_image_slide(...image_list)
    each item in image_list
        .swiper-slide.portfolio__image-slider-slide
            .portfolio__image-slider-slide-inner(style={'background-image': 'url(' + item + ')'})

mixin portfolio_menu_slide(logo_url, ...title_list)
    each title in title_list
        .swiper-slide.portfolio-menu-slide
            .portfolio-menu-slide__inner
                h2.portfolio-menu-slide__title= title
                p.portfolio-menu-slide__description= "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa exercitationem incidunt ipsam itaque porro saepe voluptates."
                a.portfolio-menu-slide__link(href='#') view
                img.portfolio-menu-slide__logo(src= logo_url)

mixin menu_list_li(index, ...list)
    - for (var x = 0; x < list.length; x++)
        if index == x
            li.menu__list-item.menu__list-item_active
                a.menu__list-item-link= list[x]
        else
            li.menu__list-item
                a.menu__list-item-link= list[x]

mixin potrfolioHeader(textLeft,textRight)
    .potrfolio-header
        .potrfolio-header__inner
            a(class='potrfolio-header__logo' href='#')
                img.potrfolio-header__img_logo(src=require("./../images/logo.png"))
            .potrfolio-header__text
                span.potrfolio-header__text-left= textLeft
                span.potrfolio-header__text-right= textRight
        include ./../menu/menu
        a(class='potrfolio-header__burger' href='#')
            span.potrfolio-header__line-burger
            span.potrfolio-header__line-burger