mixin partners()
    .partners
        .swiper-container.partners__container
            .swiper-wrapper.partners__wrapper
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/alfa.png"), alt="alfa")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/mtb.png"), alt="mtb")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/status.png"), alt="status")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/bate.png"), alt="bate")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/bsb.png"), alt="bsb")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/squash.png"), alt="squash")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/krafttrans.png"), alt="krafttrans")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/volat.png"), alt="volat")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/prosecutor.png"), alt="prosecutor")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/lode.png"), alt="lode")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/teplosila.png"), alt="teplosila")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/prosushi.png"), alt="prosushi")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/planet-of-health.png"), alt="planet-of-health")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/berin.png"), alt="berin")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/hvilina.png"), alt="hvilina")