mixin reviewsSwiper()
    .reviews-swiper
        .swiper-container.reviews-swiper__container
            .swiper-button-prev.reviews-swiper__button.reviews-swiper__button_prev
            .swiper-wrapper.reviews-swiper__wrapper
                .swiper-slide.reviews-swiper__slide
                    img.reviews-swiper__img(src=require("./../images/img-3@3x.png"), alt="alfa")
                .swiper-slide.reviews-swiper__slide
                    img.reviews-swiper__img.reviews-swiper__img_active(src=require("./../images/img-1@3x.png"), alt="img-1")
                .swiper-slide.reviews-swiper__slide
                    img.reviews-swiper__img(src=require("./../images/img-2@3x.png"), alt="alfa")
                .swiper-slide.reviews-swiper__slide
                    img.reviews-swiper__img(src=require("./../images/img-3@3x.png"), alt="alfa")
                .swiper-slide.reviews-swiper__slide
                    img.reviews-swiper__img(src=require("./../images/img-1@3x.png"), alt="img-1")
                .swiper-slide.reviews-swiper__slide
                    img.reviews-swiper__img(src=require("./../images/img-2@3x.png"), alt="alfa")
            .swiper-button-next.reviews-swiper__button.reviews-swiper__button_next